@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Cairo", sans-serif;
    
}
img {
    width: 100%;
}

.top-nav {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    height: 30px;
    background: rgba(47, 47, 47, 1);
    align-items: center;
    padding: 0px 12px;    
    font-size: 14px;
}
a {
    color: #fff;
    text-decoration: none;

}.log {
    margin: 0px 11px;
}

.logo {
    width: 63px;
}
.left-nav {
    display: flex
;
    align-items: center;
    justify-content: space-evenly;
 
}
.navTow {
    display: flex
;
    justify-content: space-between;
    padding: 0px 7px;
    margin: 0 0 0px 6px;

}
i.fa-solid.fa-cart-shopping , i.fa-solid.fa-magnifying-glass,i.fa-solid.fa-bars-staggered {
    font-size: 24px;
    margin: 0px 9px;
}

i.fa-solid.fa-cart-shopping {
    color: #a939bc;
}
   .slider {
    position: relative;
    width: 95%;
    margin: 0 10px;
    overflow: hidden;
    border-radius: 15px;
    height: auto;
}

    .slides {
      display: flex;
      width: 100%;
       transition: transform 0.7s ease-in-out;
    }

    .slides img {
      width: 100%;
      object-fit: cover;
    }
 

    .dots {
      position: absolute;
      bottom: 15px;
      width: 100%;
      text-align: center;
    }

.dots span {
    display: inline-block;
    width: 17px;
    height: 6px;
    margin: 0 5px;
    background: #bbb;
    border-radius: 10%;
    cursor: pointer;
}
    .dots .active {
      background: #bbff00;
    }
    /* --------prodect---------- */
    .prodect {
 
    margin: 24px 0px;
    text-align: end;
}
.title-prodect {
    padding: 0px 26px;
    font-size: 11px;
}
span.title-pro {
    font-size: 28px;
    color: #a837bd;
}
.cart {
    width: 256px;
    border: 1px solid #00000029;
    border-radius: 6px;
    padding: 11px;
    margin: 7px 3px;
}
.action-cart {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
}

input[type=number] {
    width: 49px;
    padding: 0px;
    font-size: 16px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 0px 0 0 10px;
}
button {
    padding: 2px;
    border: none;
    background: #a837bd;
    padding: 3px 5px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
}
button:hover{
    background: rgb(255, 166, 0);
}
.image-cart {
    width: 231px;
 
}
.price {
    display: flex
;
    flex-direction: row-reverse;
    font-size: 17px;
}
p.des-cart {
    color: #000000a6;
    font-size: 13px;
}
span.iqd {
    margin: 0 2px;
    font-size: 13px;
    display: flex
;
    align-items: center;
}
.container-card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
   @media (max-width: 583px) {
.cart{
    width: 208px;
}
.image-cart {
    width: 184px;
}
}
   @media (max-width: 487px) {
      .cart {
        width: 205px;
    }
      .image-cart {
        width: 187px;
    }
   }
   @media (max-width: 480px) {
    .cart {
        width: 203px;
    }
        .image-cart {
        width: 181px;
    }
   }

   .seeMore {
    text-align: center;
}
h3 {
    display: flex
;
    justify-content: center;
    flex-direction: column-reverse;
}
i.fa-solid.fa-arrow-down {
    position: relative;
    top: 4px;
    animation: identifier 1s ease-in-out infinite;
    color: rgba(0, 0, 0, 0.342);
}
@keyframes identifier {
    0%{
            top: 4px;
    }
    100%{
        top: 0px;
    }
}
.sww-amore{
    color: #a837bd;
}
footer {
    background: #2f2f2f;
    text-align: -webkit-center;
}
.midea {
    background: #2f2f2f;
    display: flex;
    align-items: center;
    margin: 44px 0 23px 0px;
    font-size: 21px;
    justify-content: space-evenly;
    padding: 10px;
}
.logo-foter {
    width: 284px;
        display: none;
}
.C {
    color: #ffffff3b;
    margin: 43px 0px 0px;
}
 .but-nav {
    display: flex
;
    justify-content: space-around;
    align-items: center;
    background: aliceblue;
}
.icon {
    display: flex
;
    align-items: center;
    flex-direction: column;
    align-content: center;
    font-size: 15px;
}
.but-nav {
    display: flex
;
    justify-content: space-around;
    align-items: center;
background-color: #fff;
    position: sticky;
    bottom: 0;

}
   @media (max-width: 475px) {
   .cart {
    width: 207px;
            font-size: 14px;
}
        .image-cart {
 width: 168px;
    }
   }
.button {
    padding: 2px;
    border: none;
    background: #a837bd;
    padding: 5px 16px;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
}
   @media (max-width: 428px) {
       .cart {
           width: 191px;
           margin: 7px 4px;
           font-size: 13px;
        }
        .image-cart {
            width: 174px;
        }
        p.des-cart {
            color: #000000a8;
            font-size: 11px;
        }
    }
    .off {
        text-align: -webkit-left;
    }
    h5 {
        background: red;
        width: 40px;
        text-align: center;
        border-radius: 6px;
        color: #fff;
    }
    
    
    
    .num-box {
        width: 62px;
        height: 36px;
        border: 1px solid #d7d7d7;
        border-radius: 4px;
        position: relative;
        overflow: hidden;
    }
    .num-box input[type="number"] {
        -webkit-appearance: none;
        -moz-appearance: textfield;
        appearance: none;
        
        border: none;
        outline: none;
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 16px;
        
        padding-right: 48px;
    }
    
    /* إخفاء الأسهم الافتراضية */
    .num-box input::-webkit-inner-spin-button,
    .num-box input::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    
    .spinner {
        position: absolute;
        top: 0;
        right: -4px;
        width: 31px;
        height: 100%;
        border-left: 1px solid #e6e6e6;
        display: flex
        ;
        flex-direction: column;
        background: #fafafa;
    }
    
    .spinner button {
        flex: 1;
        border: 0;
        background: transparent;
        cursor: pointer;
        font-size: 10px;
        color: #444;
        line-height: 1;
        margin: 0 -14px;
    }
    .spinner button:active { background: rgba(0,0,0,0.05); }
    
    
    
    @media (max-width: 361px) {
    .cart {
        width: 142px;
 
    }
        .image-cart {
        width: 116px;
    }
    h2.main-title {
    font-size: 13px;
}    p.des-cart {
        color: #000000a8;
        font-size: 8px;
    }
.button {
        padding: 9px 8px;
        font-size: 8px;
    }
.num-box {
    width: 57px;
    height: 34px;
 
}
}
  
    @media (max-width: 390px) {
    .cart {
        width: 142px;
 
    }
        .image-cart {
        width: 116px;
    }
    h2.main-title {
    font-size: 13px;
}    p.des-cart {
        color: #000000a8;
        font-size: 8px;
    }
.button {
        padding: 9px 8px;
        font-size: 8px;
    }
.num-box {
    width: 57px;
    height: 34px;
 
}
}
.\31 box {
    display: flex
    ;
    flex-direction: column;
    align-items: flex-end;
}
.list-of-mnu {
    display: flex
    ;
    align-items: center;
    justify-content: space-around;
}
.\31 box a{
   color: #ffffff94;
}
 
.title-cart-box {
    font-size: 10px;
    text-align: center;
    margin: 9px 0px;
    display: flex
;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
}
/* .cart-box {
    position: absolute;
    background: aliceblue;
    height: 100vh;
    width: 281px;

    z-index: 1000;
    box-shadow: -9px 20px 20px 0px #000000;
} */
.black-shado {
    position: absolute;
    background: #000000bf;
    width: 100%;
    height: 100vh;
    z-index: 999;
}
i.fa-regular.fa-circle-xmark {
    font-size: 24px;
}
.t-t {
    font-size: 9px;
}

.cart-box {
  position: fixed;
  /* top: 0; */
  left: -400px; /* مخفية يمين الشاشة */
    width: 273px;

  height: 100%;
  background: #fff;
  box-shadow: -2px 0 10px rgba(0,0,0,0.2);
  transition: 0.3s ease-in-out;
  z-index: 1001;
}

.cart-box.active {
  left: 0;  /* تظهر من اليسار */
}

.black-shado {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:rgb(0 0 0 / 76%);
  display: none;
  z-index: 1000;
}

.black-shado.active {
  display: block;
}
.menu-box {
  position: fixed;
  /* top: 0; */
  left: -300px;   /* تبدأ مخفية من اليسار */
  width: 250px;
  height: 100%;
  background: #fff;
  box-shadow: 2px 0 10px rgba(0,0,0,0.2);
  transition: 0.3s ease-in-out;
  z-index: 1002;
  padding: 8px;
}

.menu-box.active {
  left: 0;  /* تظهر من اليسار */
}

.menu-links {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.menu-links li {
  margin: 15px 0;
}

.menu-links li a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
}

.close-menu {
  text-align: left;
  cursor: pointer;
  font-size: 22px;
}
.title-menu-box {
    display: flex
;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}
.menu-links {
    list-style: none;
    padding: 0px 6px;
    margin-top: 20px;
    text-align: end;
}
.search-box {
  position: fixed;
  top: -200px; /* مخفي فوق */
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 400px;
  background: #fff;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transition: top 0.3s ease-in-out;
  z-index: 1002;
  border-radius: 8px;
}

.search-box.active {
  top: 50px; /* يهبط لتحت */
}

.search-content {
  display: flex;
  gap: 10px;
}

.search-content input {
    flex: 1;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 6px;
    text-align: end;
}
.search-content button {
  padding: 10px 15px;
  background: #6c63ff;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.title-search-box {
    display: flex
;
    font-size: 9px;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin: 0px 0px 16px 0px;
}
h2.main-title {
    color: #7d3f89;
}.reveal {
    position: relative;
    transform: translateY(144px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}